<ion-header>
  <ion-navbar>
    <ion-title *ngIf="forecast" >
      {{forecast.display_location.city}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button (click)="openPref()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding-top>

  <ion-refresher (ionRefresh)="fetchData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="forecast && units">
    <ion-card-header>
      <ion-grid>
        <ion-row align-items-center justify-content-center>
          <ion-col col-3>
            <img [src]="forecast.icon_url" />
          </ion-col>
          <ion-col col-3>
            <h1 text-center>{{getObservation(obs.temp)}}{{getDegree(units.degree)}}</h1>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col col-6>
            <h1 text-center>{{forecast.weather}}</h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row justify-content-center align-items-center text-center>
          <ion-col col-4>
            <ion-icon name="umbrella"></ion-icon>
            <h2>Precipitation</h2>
            <h3>{{getObservation(obs.precip)}} {{units.volume}}</h3>
          </ion-col>
          <ion-col col-4>
            <ion-icon name="flag"></ion-icon>
            <h2>Wind</h2>
            <h3>{{getObservation(obs.wind)}} {{units.speed}} {{forecast.wind_dir}}</h3>
          </ion-col>
          <ion-col col-4>
            <ion-icon name="sunny"></ion-icon>
            <h2>UV Level</h2>
            <h3>{{forecast.UV}} ({{forecast.UV|uvLevel}})</h3>
          </ion-col>
          <ion-col col-4>
            <ion-icon name="speedometer"></ion-icon>
            <h2>Pressure</h2>
            <h3>{{getObservation(obs.pressure)}} {{units.pressure}}</h3>
          </ion-col>
          <ion-col col-4>
            <ion-icon name="eye"></ion-icon>
            <h2>Visibility</h2>
            <h3>{{getObservation(obs.visibility)}} {{units.distance}}</h3>
          </ion-col>
          <ion-col col-4>
            <ion-icon name="water"></ion-icon>
            <h2>Humidity</h2>
            <h3>{{forecast.relative_humidity}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>