<ion-header>
  <ion-navbar>
    <ion-title *ngIf="search">
      Next Few Days for {{search.city}}
    </ion-title>
    <ion-title *ngIf="!search">
      Next Few Days
    </ion-title>
    <header-buttons [pref]="pref"></header-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding-top>

  <ion-refresher (ionRefresh)="fetchData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <forecast-list *ngIf="forecasts && pref" [pref]="pref" [forecasts]="forecasts"></forecast-list>

</ion-content>