<ion-header>

  <ion-navbar>
    <ion-title>Preferences</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="edits">
    <ion-list-header>Units</ion-list-header>
    <ion-item>
      <ion-label>Temperature</ion-label>
      <ion-select interface="popover" [(ngModel)]="edits.degree">
        <ion-option>{{deg.metric}}</ion-option>
        <ion-option>{{deg.imperial}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Precipitation</ion-label>
      <ion-select interface="popover" [(ngModel)]="edits.volume">
        <ion-option>{{vol.metric}}</ion-option>
        <ion-option>{{vol.imperial}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Wind Speed</ion-label>
      <ion-select interface="popover" [(ngModel)]="edits.speed">
        <ion-option>{{speed.metric}}</ion-option>
        <ion-option>{{speed.imperial}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Visibility</ion-label>
      <ion-select interface="popover" [(ngModel)]="edits.distance">
        <ion-option>{{dist.metric}}</ion-option>
        <ion-option>{{dist.imperial}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Pressure</ion-label>
      <ion-select interface="popover" [(ngModel)]="edits.pressure">
        <ion-option>{{press.metric}}</ion-option>
        <ion-option>{{press.imperial}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-list-header>Icon Set</ion-list-header>
    <ion-item>
      <ion-label>Choose Icons</ion-label>
      <button ion-button item-right color="dark" clear (click)="openIconSelect()" >Set {{edits.icon - 5}} <ion-icon name="arrow-forward"></ion-icon> </button>
    </ion-item>

    <ion-list-header *ngIf="edits.locations.length > 0" >Saved Locations</ion-list-header>
    <ion-item *ngFor="let place of edits.locations">{{place.toString()}}
      <button ion-button item-right icon-only clear color="danger" (click)="deleteLocation(place)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>